@mixin span-line($width: 20px, $height: 2px, $color: black) {
    width: $width;
    height: $height;
    background-color: $color;
}

@mixin hover($color: darkcyan) {
    transition: color 0.2s ease;
    &:hover{
        color: $color;
    }
    
}





@mixin  line ($width: 20px, $height: 2px, $color: black){
    &::before{
        content: '';
        width: $width;
        height: $height;
        background-color: $color;
        display: block;
    }
}

@mixin  reset-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

